In [2]:
import sqlite3

conn = sqlite3.connect('StudentDetails.db')
c = conn.cursor()
Id=11710639    
c.execute("SELECT Name FROM student_at WHERE Id = ?", Id)
Name = c.fetchone()
print(Name)
conn.commit()
conn.close()

OperationalError: no such table: student_at